#account-content{
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.new-warning{
    color: red;
}

.progress-bar {
    width: 300px;
    height: 20px;

    background-color: #ddd;
    border-radius: 999px;

    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;

    background-color: blue;
    border-radius: inherit;

    transition: width 0.4s ease;
}